<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mechanical Calculator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.5.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"> <img src="/static/img/logo.png" alt=""> Mechanical Calculator</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Mechanical Calculator</h1>
          <h2>Chose the domain:</h2>
        </div>
      </div>
      <div class="text-center">
        <div class="row icon-boxes">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-3 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">I C Engines</a></h4>
              <p class="description">Press the select button to calculate the Internal Combustion Engine Parameters</p>
              <button onclick="Ic()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <h4 class="title"><a href="">Rocket Engines</a></h4>
              <p class="description">Press the select button to calculate the Rocket Engine Parameters</p>
              <button onclick="RE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box">
              <h4 class="title"><a href="">Turbines</a></h4>
              <p class="description">Press the select button to calculate the Turbines Parameters</p>
              <button onclick="TE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="500">
            <div class="icon-box">
              <h4 class="title"><a href="">Compressors</a></h4>
              <p class="description">Press the select button to calculate the Compressors Parameters</p>
              <button onclick="CE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>

        </div>
      </div>
  </section><!-- End Hero -->


  <!-- ======= Calculation Section ======= -->
  <section id="Calculation" class="calculation calculation-bg">
    <div class="container" data-aos="fade-up">
      <div id="ICEngine">
        <div class="section-title">
          <h2>IC Engine Calculation</h2> <!--  title  changes with option -->
          <h3> Enter the values to calculate the Paramaters </h3>
        </div>
        <!-- if choice is IC Engine -->
        <div class="row g-3">
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Piston Diameter" name="D" id="D">
          </div>
          <div class="col-md-2">
            <select id="dunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Stroke Length" name="L" id="L">
          </div>
          <div class="col-md-2">
            <select id="Lunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Speed in RPM" name="N" id="N">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="No Of Cylinders" name="K" id="K">
          </div>
          <div class="col-md-2">
            <select id="Strokes" class="form-select" aria-label="Default select example">
              <option selected>Strokes</option>
              <option value="2">2 Strokes</option>
              <option value="4">4 Strokes</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Mean Pressure" name="p" id="P">
          </div>
          <div class="col-md-2">
            <select id="punit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Calorific Value" name="CV" id="CV">
          </div>
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="Air/Fuel Ratio" name="a/f" id="a/f">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Of Air/Fuel" name="M" id="M">
          </div>
          <div class="col-md-1">
            <select id="munit" class="form-select" aria-label="Default select example">
              <option selected></option>
              <option value="1">Mass of Air</option>
              <option value="2">Mass of Fuel</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Brake Force (N)" name="F" id="F">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Brake Wheel Diameter" name="BWD" id="BWD">
          </div>
          <div class="col-md-2">
            <select id="bwdunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Actual volume" name="Va" id="Va">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Swept Volume" name="Vs" id="Vs">
          </div>
          <div class="col-12">
            <button onclick="ICcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- IC Engine Code End -->
      <!-- Compressor Engines Start -->
      <div class="container" data-aos="fade-up">
        <div id="CE-Engine">
          <div class="section-title">
            <h2>Compressor Engine Calculation</h2> <!--  title  changes with option -->
          </div>
          <div class="col-md-12 text-center" onchange="">
            <select id="ct" onchange="ct()" class="form-select text-center" aria-label="Default select example">
              <option selected>Select the type of Compressor:</option>
              <option value="res">Reciprocating-Compressor</option>
              <option value="rot">Rotary-Compressor</option>
            </select>
          </div>
        </div>
      </div>
      <!-- If selected Reciprocating Compressor -->
      <div class="container" data-aos="fade-up">
        <div id="RECE">
          <div class="row g-3 my-2">
            <div class="col-md-3">
              <select id="tyop" class="form-select text-center" aria-label="Default select example">
                <option selected>Type of Process</option>
                <option value="0">Isothermal Process</option>
                <option value="1.4">Isentropic Process</option>
                <option value="1.3">Polytrocpic Process</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="tyoc" class="form-select text-center" aria-label="Default select example">
                <option selected>Type of Compressor</option>
                <option value="1">Single-Acting-Compressor</option>
                <option value="2">Double-Acting-Compressor</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="tyos" onchange="stage()" class="form-select text-center" aria-label="Default select example">
                <option selected>Type of Stage</option>
                <option value="1">Single Stage Compressor</option>
                <option value="2">Two Stage Compressor</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Speed in RPM" name="N" id="N">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Piston Diameter" name="D" id="D">
            </div>
            <div class="col-md-2">
              <select id="dunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Stroke Length" name="L" id="L">
            </div>
            <div class="col-md-2">
              <select id="Lunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="P1">
            </div>
            <div class="col-md-2">
              <select id="p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="P2">
            </div>
            <div class="col-md-2">
              <select id="p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div id="msp" class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p3" name="p3" id="P3">
            </div>
            <div id="mspu" class="col-md-2">
              <select id="p3unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Volume" name="V" id="V">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Tempurature T1" name="T" id="T">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="Ma">
            </div>
            <div class="col-md-2">
              <select id="maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="RESCcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Reciprocating Calculation Ended -->

      <!-- If selected Rotary Compressor -->
      <div id="ROCE" class="text-center my-3">
        <div class="col-md-12">
          <select id="rct" onchange="rct()" class="form-select text-center" aria-label="Default select example">
            <option selected>Select the type of Rotary-Compressor Compressor: </option>
            <option value="rbc">Roots Blower-Compressor</option>
            <option value="vtc">Vane-Type-Compressor</option>
            <option value="cenc">Centrifugal-Compressor</option>
            <option value="axialc">Axial -Compressor</option>
          </select>
        </div>
      </div>
      <!-- If Root Blower Compressor -->
      <div id="RBCE" class="text-center">
        <div class="row g-3 my-2">
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="P1">
          </div>
          <div class="col-md-2">
            <select id="p1unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="P2">
          </div>
          <div class="col-md-2">
            <select id="p2unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Volume" name="V" id="V">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Tempurature T1" name="T" id="T">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="Ma">
          </div>
          <div class="col-md-2">
            <select id="maunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">Kg/S</option>
              <option value="2">Kg/Min</option>
            </select>
          </div>
          <div class="col-12">
            <button onclick="RBCcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- Root blower Calculation Ended -->
      <!-- Begin  Root Vane Type Compressor -->
      <div id="VTCE" class="text-center">
        <div class="row g-3 my-2">
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="No Of Vanes" name="N" id="N">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="P1">
          </div>
          <div class="col-md-2">
            <select id="p1unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="P2">
          </div>
          <div class="col-md-2">
            <select id="p2unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p3" name="p3" id="P3">
          </div>
          <div class="col-md-2">
            <select id="p3unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Volume" name="V" id="V">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Tempurature T1" name="T" id="T">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="Ma">
          </div>
          <div class="col-md-2">
            <select id="maunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">Kg/S</option>
              <option value="2">Kg/Min</option>
            </select>
          </div>
          <div class="col-12">
            <button onclick="VTCcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- Vane Type Calculation Ended -->
      <!-- If Centrifugal Compressor -->
      <div id="CFCE" class="text-center">
        <div class="row g-3 my-2">
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="Ma">
          </div>
          <div class="col-md-2">
            <select id="maunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">Kg/S</option>
              <option value="2">Kg/Min</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="P1">
          </div>
          <div class="col-md-2">
            <select id="p1unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="P2">
          </div>
          <div class="col-md-2">
            <select id="p2unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Tempurature T1" name="T1" id="T1">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Tempurature T2" name="T2" id="T2">
          </div>
          <div class="col-12">
            <button onclick="CFCcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- Centrifugal Calculation Ended -->
      <!-- If Axial Compressor -->
      <div id="ACE" class="text-center">
        <!-- this is tempororily closed because presently it is closly mathing with centrifugal compressor -->
      </div>
      <!-- Axial Calculation Ended -->
      <!-- Rotary Calculation Ended -->
      <!-- Compressor Engines End-->
      <!-- Begin of Rocket Engine  -->
      <div id="REngine" class="text-center">
        <div class="row g-3 my-2">
          <div class="section-title">
            <h2>Rocket Engine Calculation</h2> <!--  title  changes with option -->
            <h3> Enter the values to calculate the Paramaters </h3>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" required placeholder="Exit Pressure (Pe)" name="pe" id="pe">
          </div>
          <div class="col-md-2">
            <select id="p1unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" required placeholder="Ambient Pressure (Pa)" name="pa" id="pa">
          </div>
          <div class="col-md-2">
            <select id="p2unit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="ma">
          </div>
          <div class="col-md-2">
            <select id="maunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">Kg/S</option>
              <option value="2">Kg/Min</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Jet Velocity" name="Vjet" id="Vjet">
          </div>
          <div class="col-md-2">
            <select id="vunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">m/s</option>
              <option value="2">KM/Hr</option>
              <option value="3">Miles/Hr</option>
            </select>
          </div>
          <div class="col-md-2">
            <select onchange="rva()" id="vr" class="form-select" aria-label="Default select example">
              <option selected>Select</option>
              <option value="1">Velocity Ratio(s)</option>
              <option value="2">Aircraft velocity / forward Velocity(Va)</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" required placeholder="Enter the selected value" name="va" id="va">
          </div>
          <div id="rva" class="col-md-2">
            <select id="vaunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">m/s</option>
              <option value="2">KM/Hr</option>
              <option value="3">Miles/Hr</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Nozzle Diameter" name="D" id="D">
          </div>
          <div class="col-md-2">
            <select id="dunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-12">
            <button onclick="REcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- End of Rocket Engine  -->

  </section><!-- End Calculation Section -->


  <!-- ======= Results Section ======= -->
  <section id="Results" class="Results Results-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="my-3">Results</h2>
      </div>

      <!-- if choice is IC Engine -->
      <table id="ICResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Indicated Power</td>
            <td><span id="IP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Brake power</td>
            <td><span id="BP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Frictional Power</td>
            <td><span id="FP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Specific Fuel Consumption (SFC/BSFC)</td>
            <td><span id="BSFC">Kg/KWh</span></td>
          </tr>
          <th scope="row">5</th>
          <td> Indicated Specific Fuel Consumption</td>
          <td><span id="ISFC">Kg/KWh</span></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Mechanical Efficiency</td>
            <td><span id="Me"></span></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Volumetric Efficiency</td>
            <td><span id="Ve"></span></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Indicated Thermal Efficiency</td>
            <td><span id="ITe"></span></td>
          </tr>
          <th scope="row">9</th>
          <td>Brake Thermal Efficiency</td>
          <td><span id="BTe"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End of Ic Engine -->
      <!-- Compressors Engine -->
      <!-- Reciprocating Compressor engine -->
      <table id="RESCResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Indicated Power</td>
            <td><span id="IP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Brake power</td>
            <td><span id="BP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Frictional Power</td>
            <td><span id="FP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mechanical Efficiency</td>
            <td><span id="Me"></span></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Motor Power</td>
            <td><span id="Mpow"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End of Reciprocating Compressor Engine  -->
      <!-- Begin of Root Blower Compressor -->
      <table id="RBCResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Actual Work Done</td>
            <td><span id="Wact">KW</span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Indicated Power</td>
            <td><span id="IP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Brake power</td>
            <td><span id="BP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Frictional Power</td>
            <td><span id="FP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Root Blower Efficiency</td>
            <td><span id="Roote"></span></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Mechanical Efficiency</td>
            <td><span id="Me"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End of Root Blower Compressor -->
      <!-- Begin Vane Type Compressor -->
      <table id="VTCResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Work Done by Vane Compressor</td>
            <td><span id="Wvane">KW</span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Indicated Power</td>
            <td><span id="IP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Brake power</td>
            <td><span id="BP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Frictional Power</td>
            <td><span id="FP">KW</span></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Vane Type Compressor Efficiency</td>
            <td><span id="Vanee"></span></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Mechanical Efficiency</td>
            <td><span id="Me"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End Vane Type Compressor -->
      <!-- Begin of centrifugal Compressor -->
      <table id="CFCResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Work Input</td>
            <td><span id="win">KW</span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Power Required</td>
            <td><span id="pin">KW</span></td>
          </tr>
          <tr>
          <tr>
            <th scope="row">3</th>
            <td>Isentropic Efficiency</td>
            <td><span id="isene"></span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Change In Entropy</td>
            <td><span id="ds"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End of centrifugal Compressor -->
      <!-- Begin Of Axial Compressor -->

      <!-- End Of Axial Compressor -->
      <!-- End of Compressor Engine  -->
      <!-- Begin Of Rocket Engine -->
      <table id="REResults" class="  table table-bordered border-dark mx-auto table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Thrust Produced</td>
            <td><span id="TP"></span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Specific Thrust</td>
            <td><span id="Sthrust">KW</span></td>
          </tr>
          <tr>
          <tr>
            <th scope="row">3</th>
            <td>Specific Impulse</td>
            <td><span id="Isp"></span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Specific Propullent Consumption</td>
            <td><span id="SPC"></span></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Thrust Power</td>
            <td><span id="Pthrust"></span></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Power Loss</td>
            <td><span id="Ploss"></span></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Propulsive Power</td>
            <td><span id="PProp"></span></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Propulsive Efficiency</td>
            <td><span id="Prope"></span></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Thermal Efficiency</td>
            <td><span id="Te"></span></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Overall Efficiency</td>
            <td><span id="Oe"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- End Of Rocket Engine -->
    </div>
  </section><!-- End Results Section -->


  <!-- ======= About Section ======= -->
  <section id="about" class="about about-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About </h2>
      </div>
      <p class="text-center"> This website is build to calculate the Mechanical Parameters of Engines. </p>
      <div class="text-center">
        <p>We can use this calculator in Manufacturing Industries .</p>
        <p>We can use this calculator for Education System for better calculations.</p>
        <p> We also have Physical Mechanical Calculator. </p>
        <p>For More Information you can contact us. </p>
        <a href="#contact" <button type="button" class="btn btn-primary">Learn More</button></a>
      </div>
    </div>
  </section><!-- End About Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>You can contact us through sending mail from this Messagebox.</p>
      </div>
      <div class="col-lg-12 mt-5 mt-lg-0">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="user-name form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="user-email form-control" name="email" id="email" placeholder="Your Email"
              required>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="user-msg form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <button onclick="validate()" class="user-submit btn btn-primary text-uppercase " id="submitButton"
          type="submit">Send</button>
      </div>

    </div>

    </div>
  </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/smtp.js"></script>
  <!-- for sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>

    function validate() {
      let username = document.querySelector(".user-name");
      let useremail = document.querySelector(".user-email");
      let usermsg = document.querySelector(".user-msg");
      let submit = document.querySelector(".user-submit");

      submit.addEventListener("click", (e) => {
        e.preventDefault()

        if (username.value == "" || useremail.value == "" || usermsg.value == "") {
          inputempty();
        } else {
          sendemail(username.value, useremail.value, usermsg.value);
          sucess()
          setTimeout(() => {
            location.reload()
          }, 1000);
        }
      })
    }


    function sendemail(name, email, msg) {
      Email.send({
        Host: "smtp.gmail.com",
        Username: "mechanicalcalculator32@gmail.com",
        Password: "mechcalculator",
        To: 'mechanicalcalculator32@gmail.com',
        From: email,
        Subject: "This is the  mail form : " + name,
        Body: "Name : " + name + "<br>" + " email : " + email + "<br>" + "Message : " + msg
      });
    }

    function sucess() {
      swal({
        title: "Sucess",
        text: "Sucessfully sent Message",
        icon: "success",
        button: "Ok",
      });
    }

    function error() {
      swal({
        title: "Sorry",
        text: "Something Went Wrong, Message could not be sent",
        icon: "error",
        button: "Ok",
      });
    }

    function inputempty() {
      swal({
        title: "Opps!!",
        text: "Inputs Field are required",
        icon: "error",
        button: "Ok",
      });
    }

  </script>

</body>

</html>
