<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Mechanical Calculator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/"> <img src="/static/img/logo.jpg" alt=""> Mechanical Calculator</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Mechanical Calculator</h1>
          <h2>Chose the domain:</h2>
        </div>
      </div>
      <div class="text-center">
        <div class="row icon-boxes">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="100">
            <div class="icon-box">
              <h4 class="title"><a href="">I C Engines</a></h4>
              <p class="description">Press the select button to calculate the IC Engine Parameters</p>
              <button onclick="Ic()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Rocket Engines</a></h4>
              <p class="description">Press the select button to calculate the Rocket Engine Parameters</p>
              <button onclick="RE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <h4 class="title"><a href="">Turbines</a></h4>
              <p class="description">Press the select button to calculate the Turbines Parameters</p>
              <button onclick="TE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box">
              <h4 class="title"><a href="">Compressors</a></h4>
              <p class="description">Press the select button to calculate the Compressors Parameters</p>
              <button onclick="CE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 debha" data-aos="zoom-in"
            data-aos-delay="500">
            <div class="icon-box">
              <h4 class="title"><a href="">Jet Engine</a></h4>
              <p class="description">Press the select button to calculate the Jet Engine Parameters</p>
              <button onclick="JE()" type="button" class="btn btn-primary btn-lg">select</button>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 debha" data-aos="zoom-in"
          data-aos-delay="600">
          <div class="icon-box">
            <h4 class="title"><a href="">Convertor</a></h4>
            <p class="description">Press the select button to convert the units of the Parameters</p>
            <button onclick="CON()" type="button" class="btn btn-primary btn-lg">select</button>
          </div>
        </div>
          </div>
        </div>
      </div>
  </section><!-- End Hero -->
  <!-- ======= Calculation Section ======= -->
  <section id="Calculation" class="calculation calculation-bg">
    <div class="container" data-aos="fade-up">
      <div id="ICEngine">
        <div class="section-title">
          <h2>IC Engine Calculation</h2> <!--  title  changes with option -->
          <h3> Enter the values to calculate the Paramaters </h3>
        </div>
        <!-- if choice is IC Engine -->
        <div class="row g-3">
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Piston Diameter" name="D" id="IC-D">
          </div>
          <div class="col-md-2">
            <select id="ic-dunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Stroke Length" name="L" id="IC-L">
          </div>
          <div class="col-md-2">
            <select id="ic-Lunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Speed in RPM" name="N" id="IC-N">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="No Of Cylinders" name="K" id="IC-K">
          </div>
          <div class="col-md-2">
            <select id="ic-Strokes" class="form-select" aria-label="Default select example">
              <option selected>Strokes</option>
              <option value="2">2 Strokes</option>
              <option value="4">4 Strokes</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Mean Pressure" name="p" id="IC-P">
          </div>
          <div class="col-md-2">
            <select id="ic-punit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">bars</option>
              <option value="2">KN/m^2</option>
              <option value="3">Pascls</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Calorific Value" name="CV" id="IC-CV">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Air/Fuel Ratio" name="a/f" id="ic-a/f">
          </div>
          <div class="col-md-2">
            <select id="ic-munit" class="form-select" aria-label="Default select example">
              <option selected>select</option>
              <option value="1">Mass of Air</option>
              <option value="2">Mass of Fuel</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Mass Of Air/Fuel" name="M" id="IC-M">
          </div>
          <div class="col-md-2">
            <select id="ic-maunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">Kg/S</option>
              <option value="2">Kg/hr</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Brake Force (N)" name="F" id="IC-F">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Torque" name="BWD" id="IC-T">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" required placeholder="Brake Wheel Diameter" name="BWD" id="IC-BWD">
          </div>
          <div class="col-md-2">
            <select id="ic-bwdunit" class="form-select" aria-label="Default select example">
              <option selected>units</option>
              <option value="1">cm</option>
              <option value="2">mm</option>
              <option value="3">m</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Actual volume" name="Va" id="IC-Va">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Swept Volume" name="Vs" id="IC-Vs">
          </div>
          <div class="col-12">
            <button onclick="ICcalculate()" class="btn btn-primary">Calculate</button>
          </div>
        </div>
      </div>
      <!-- IC Engine Code End -->
      <!-- Compressor Engines Start -->
      <div class="container" data-aos="fade-up">
        <div id="CE-Engine">
          <div class="section-title">
            <h2>Compressor Engine Calculation</h2> <!--  title  changes with option -->
          </div>
          <div class="col-md-12 text-center">
            <select id="ct" onchange="ct()" class="form-select text-center" aria-label="Default select example">
              <option selected>Select the type of Compressor:</option>
              <option value="res">Reciprocating-Compressor</option>
              <option value="rot">Rotary-Compressor</option>
            </select>
          </div>
        </div>
      </div>
      <!-- If selected Reciprocating Compressor -->
      <div class="container" data-aos="fade-up">
        <div id="RECE">
          <div class="row g-3 my-2">
            <div class="col-md-3">
              <select id="res-tyop" class="form-select text-center" aria-label="Default select example">
                <option selected>Type of Process</option>
                <option value="0">Isothermal Process</option>
                <option value="1.4">Isentropic Process</option>
                <option value="1.3">Polytrocpic Process</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="res-tyoc" class="form-select text-center" aria-label="Default select example">
                <option selected>Type of Compressor</option>
                <option value="1">Single-Acting-Compressor</option>
                <option value="2">Double-Acting-Compressor</option>
              </select>
            </div>
            <div class="col-md-3">
              <select id="res-tyos" onchange="stage()" class="form-select text-center"
                aria-label="Default select example">
                <option selected>Type of Stage</option>
                <option value="1">Single Stage Compressor</option>
                <option value="2">Two Stage Compressor</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Speed in RPM" name="N" id="res-N">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Piston Diameter" name="D" id="res-D">
            </div>
            <div class="col-md-2">
              <select id="res-dunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Stroke Length" name="L" id="res-L">
            </div>
            <div class="col-md-2">
              <select id="res-Lunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="res-P1">
            </div>
            <div class="col-md-2">
              <select id="res-p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="res-P2">
            </div>
            <div class="col-md-2">
              <select id="res-p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div id="res-msp" class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p3" name="p3" id="res-P3">
            </div>
            <div id="res-mspu" class="col-md-2">
              <select id="res-p3unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div id="res-msp1" class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p4" name="p4" id="res-P4">
            </div>
            <div id="res-mspu1" class="col-md-2">
              <select id="res-p4unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Volume" name="V" id="res-V">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Tempurature T1" name="T1" id="res-T1">
            </div>
            <div class="col-md-2">
              <select id="res-T1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div id="res-msp2" class="col-md-2">
              <input type="text" class="form-control" required placeholder="Tempurature T3" name="T3" id="res-T3">
            </div>
            <div id="res-mspu2" class="col-md-2">
              <select id="res-T3unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="res-Ma">
            </div>
            <div class="col-md-2">
              <select id="res-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="RESCcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- Reciprocating Calculation Ended -->
        <!-- If selected Rotary Compressor -->
        <div id="ROCE" class="text-center my-3">
          <div class="col-md-12">
            <select id="rct" onchange="rct()" class="form-select text-center" aria-label="Default select example">
              <option selected>Select the type of Rotary-Compressor Compressor: </option>
              <option value="rbc">Roots Blower-Compressor</option>
              <option value="vtc">Vane-Type-Compressor</option>
              <option value="cenc">Centrifugal-Compressor</option>
              <option value="axialc">Axial -Compressor</option>
            </select>
          </div>
        </div>
        <!-- If Root Blower Compressor -->
        <div id="RBCE" class="text-center">
          <div class="row g-3 my-2">
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="rb-P1">
            </div>
            <div class="col-md-2">
              <select id="rb-p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="rb-P2">
            </div>
            <div class="col-md-2">
              <select id="rb-p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Volume" name="V" id="rb-V">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Tempurature T1" name="T" id="rb-T">
            </div>
            <div class="col-md-2">
              <select id="rb-Tunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="rb-Ma">
            </div>
            <div class="col-md-2">
              <select id="rb-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="RBCcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- Root blower Calculation Ended -->
        <!-- Begin  Root Vane Type Compressor -->
        <div id="VTCE" class="text-center">
          <div class="row g-3 my-2">
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="No Of Vanes" name="N" id="vt-N">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="vt-P1">
            </div>
            <div class="col-md-2">
              <select id="vt-p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="vt-P2">
            </div>
            <div class="col-md-2">
              <select id="vt-p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p3" name="p3" id="vt-P3">
            </div>
            <div class="col-md-2">
              <select id="vt-p3unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Volume" name="V" id="vt-V">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Tempurature T1" name="T" id="vt-T">
            </div>
            <div class="col-md-2">
              <select id="vt-Tunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="vt-Ma">
            </div>
            <div class="col-md-2">
              <select id="vt-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="VTCcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- Vane Type Calculation Ended -->
        <!-- If Centrifugal Compressor -->
        <div id="CFCE" class="text-center">
          <div class="row g-3 my-2">
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="cf-Ma">
            </div>
            <div class="col-md-2">
              <select id="cf-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p1" name="p1" id="cf-P1">
            </div>
            <div class="col-md-2">
              <select id="cf-p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Pressure p2" name="p2" id="cf-P2">
            </div>
            <div class="col-md-2">
              <select id="cf-p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Tempurature T1" name="T1" id="cf-T1">
            </div>
            <div class="col-md-2">
              <select id="cf-T1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Tempurature T2" name="T2" id="cf-T2">
            </div>
            <div class="col-md-2">
              <select id="cf-T2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Celsius</option>
                <option value="2">Kelvin</option>
                <option value="3">Fahrenheit</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="CFCcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- Centrifugal Calculation Ended -->
        <!-- If Axial Compressor -->
        <div id="ACE" class="text-center">
          <!-- this is tempororily closed because presently it is closly mathing with centrifugal compressor -->
        </div>
        <!-- Axial Calculation Ended -->
        <!-- Rotary Calculation Ended -->
        <!-- Compressor Engines End-->
        <!-- Begin of Rocket Engine  -->
        <div id="REngine" class="text-center">
          <div class="row g-3 my-2">
            <div class="section-title">
              <h2>Rocket Engine Calculation</h2> <!--  title  changes with option -->
              <h3> Enter the values to calculate the Paramaters </h3>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Exit Pressure (Pe)" name="pe" id="r-pe">
            </div>
            <div class="col-md-2">
              <select id="r-p1unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Ambient Pressure (Pa)" name="pa" id="r-pa">
            </div>
            <div class="col-md-2">
              <select id="r-p2unit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">bars</option>
                <option value="2">KN/m^2</option>
                <option value="3">Pascls</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Mass Flow Rate" name="Ma" id="r-ma">
            </div>
            <div class="col-md-2">
              <select id="r-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Jet Velocity" name="Vjet" id="r-Vjet">
            </div>
            <div class="col-md-2">
              <select id="r-vunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">m/s</option>
                <option value="2">KM/Hr</option>
                <option value="3">Miles/Hr</option>
              </select>
            </div>
            <div class="col-md-2">
              <select onchange="rva()" id="r-vr" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Velocity Ratio(s)</option>
                <option value="2">Aircraft velocity / forward Velocity(Va)</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Enter the selected value" name="va"
                id="r-va">
            </div>
            <div id="rva" class="col-md-2">
              <select id="r-vaunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">m/s</option>
                <option value="2">KM/Hr</option>
                <option value="3">Miles/Hr</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Nozzle Diameter" name="D" id="r-D">
            </div>
            <div class="col-md-2">
              <select id="r-dunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="REcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- End of Rocket Engine  -->
        <!-- Begin of JET Engine  -->
        <div id="JETEngine" class="text-center">
          <div class="row g-3 my-2">
            <div class="section-title">
              <h2>JET Engine Calculation</h2> <!--  title  changes with option -->
              <h3> Enter the values to calculate the Paramaters </h3>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Jet Velocity" name="Vjet" id="j-Vjet">
            </div>
            <div class="col-md-2">
              <select id="j-vunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">m/s</option>
                <option value="2">KM/Hr</option>
                <option value="3">Miles/Hr</option>
              </select>
            </div>
            <div class="col-md-2">
              <select onchange="jva()" id="j-vr" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Velocity Ratio(s)</option>
                <option value="2">Aircraft velocity / forward Velocity(Va)</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Enter the selected value" name="va"
                id="j-va">
            </div>
            <div id="jva" class="col-md-2">
              <select id="j-vaunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">m/s</option>
                <option value="2">KM/Hr</option>
                <option value="3">Miles/Hr</option>
              </select>
            </div>
            <div class="col-md-2">
              <select onchange="mava()" id="j-mava" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Mass Flow Rate of Air</option>
                <option value="2">density of Air</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Enter the selected value" name="Ma" id="j-ma">
            </div>
            <div id="mava" class="col-md-2">
              <select id="j-maunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="mass flow rate of Fuel" name="Ma" id="j-mf">
            </div>
            <div class="col-md-2">
              <select id="j-mfunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">Kg/S</option>
                <option value="2">Kg/Min</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Calorific Value" name="CV" id="j-CV">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" required placeholder="Nozzle Diameter" name="D" id="j-D">
            </div>
            <div class="col-md-2">
              <select id="j-dunit" class="form-select" aria-label="Default select example">
                <option selected>units</option>
                <option value="1">cm</option>
                <option value="2">mm</option>
                <option value="3">m</option>
              </select>
            </div>
            <div class="col-12">
              <button onclick="JETcalculate()" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        </div>
        <!-- End of JET Engine  -->
        <!-- Begin of Turbine Engines -->>
        <div id="TEngine">
          <div class="section-title">
            <h2>Turbine Engine Calculation</h2> <!--  title  changes with option -->
          </div>
          <div class="col-md-12 text-center">
            <!-- Begin of  Gas Turbine -->
            <div id="TE" class="text-center">
              <div class="row g-3 my-2">
                <h1>Gas Turbine</h1>
                <div class="col-md-3">
                  <input type="text" class="form-control" required placeholder="Pressure (P1)" name="p1" id="gt-P">
                </div>
                <div class="col-md-2">
                  <select id="gt-punit" class="form-select" aria-label="Default select example">
                    <option selected>units</option>
                    <option value="1">bars</option>
                    <option value="2">KN/m^2</option>
                    <option value="3">Pascls</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" required placeholder="Volume (V)" name="V" id="gt-V">
                </div>
                <div class="col-md-3 text-center">
                  <input type="text" class="form-control" required placeholder="Tempurature T1" name="T1" id="gt-T1">
                </div>
                <div class="col-md-2">
                  <select id="gt-T1unit" class="form-select" aria-label="Default select example">
                    <option selected>units</option>
                    <option value="1">Celsius</option>
                    <option value="2">Kelvin</option>
                    <option value="3">Fahrenheit</option>
                  </select>
                </div>
                <div class="col-md-3 text-center">
                  <input type="text" class="form-control" required placeholder="Tempurature T2" name="T2" id="gt-T2">
                </div>
                <div class="col-md-2">
                  <select id="gt-T2unit" class="form-select" aria-label="Default select example">
                    <option selected>units</option>
                    <option value="1">Celsius</option>
                    <option value="2">Kelvin</option>
                    <option value="3">Fahrenheit</option>
                  </select>
                </div>
                <div class="col-md-3 text-center">
                  <input type="text" class="form-control" required placeholder="Tempurature T3" name="T3" id="gt-T3">
                </div>
                <div class="col-md-2">
                  <select id="gt-T3unit" class="form-select" aria-label="Default select example">
                    <option selected>units</option>
                    <option value="1">Celsius</option>
                    <option value="2">Kelvin</option>
                    <option value="3">Fahrenheit</option>
                  </select>
                </div>
                <div class="col-md-3 text-center">
                  <input type="text" class="form-control" required placeholder="Tempurature T4" name="T4" id="gt-T4">
                </div>
                <div class="col-md-2">
                  <select id="gt-T4unit" class="form-select" aria-label="Default select example">
                    <option selected>units</option>
                    <option value="1">Celsius</option>
                    <option value="2">Kelvin</option>
                    <option value="3">Fahrenheit</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" required placeholder="Pressure Ratio" name="Rp" id="gt-Rp">
                </div>
                <div class="col-12">
                  <button onclick="GTcalculate()" class="btn btn-primary">Calculate</button>
                </div>
              </div>
            </div>
            <!-- End of  Gas Turbine -->
          </div>
        </div>
        <!-- End of Turbine Engines -->
        <!-- beginof  Convertor-->
        <div id="convertor" class="text-center">
          <div class="row g-3 my-2">
            <div class="section-title">
              <h2>Unit Convertor</h2> <!--  title  changes with option -->
            </div>
            <div class="col-md-6">
              <select onchange="select()" id="con-p" class="form-select  text-center" aria-label="Default select example">
                <option selected>Select The Parameter</option>
                <option value="0">Area</option>
                <option value="1">Energy</option>
                <option value="2">Force</option>
                <option value="3">Length</option>
                <option value="4">Mass</option>
                <option value="5">Power</option>
                <option value="6">Pressure</option>
                <option value="7">Speed/Velocity</option>
                <option value="8">Tempurature</option>
                <option value="9">Torque</option>
                <option value="10">Volume</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" required placeholder="Value" name="value" id="con-v">
            </div>
            <div id="con-unit">
            </div>
            <div id="con-Results" >
            </div>
          </div>
        </div>
  </section><!-- End Calculation Section -->
  <!-- ======= Results Section ======= -->
  <section id="Results" class="Results Results-bg">
    <!-- <div class="section-title"> -->
    <h2 class="text-center">Results</h2>
    </div>
    <div class="row">
      <div id="img" height="450px" width="450px" class="col">
      </div>
      <div class="col debha1">
        <table class="table table-bordered border-dark  table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">SNo</th>
              <th scope="col">Parameters</th>
              <th scope="col">Values</th>
              <th scope="col">Units</th>
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
        </table>
      </div>
      <div class="col">
        <canvas id="myChart" height="450px" width="450px"></canvas>
      </div>
  </section>
  <!-- End Results Section -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about about-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About </h2>
      </div>
      <div id="desktop">
        <p>C:\\Mech\\Calculator32>This website is build to calculate the Mechanical Parameters of Engines. </p>
        <p>C:\\Mech\\Calculator32>We can use this calculator in Manufacturing Industries .</p>
        <p>C:\\Mech\\Calculator32>We can use this calculator for Education System for better calculations.</p>
        <p>C:\\Mech\\Calculator32>We also have Physical Mechanical Calculator. </p>
        <p>C:\\Mech\\Calculator32> For More Information you can contact us. </p>
        <a href="#contact" <button type="button" class="btn btn-primary">Learn More</button></a>
      </div>
      <div id="mobile">
        <p>This website is built to calculate the Mechanical Parameters of Engines.</p>
        <p>We can use this calculator in Manufacturing Industries.</p>
        <p>We can use this calculator for Education System for better calculations.</p>
        <p>We also have a Physical Mechanical Calculator.</p>
        <p>For More Information, you can contact us.</p>
        <div><a href="#contact" <button type="button" class="btn btn-primary">Learn More</button></a></div>
      </div>
    </div>
  </section><!-- End About Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact contact-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>You can contact us through sending mail from this Messagebox.</p>
      </div>
      <div class="col-lg-12 mt-5 mt-lg-0">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="user-name form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="user-email form-control" name="email" id="email" placeholder="Your Email"
              required>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="user-msg form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <button onclick="validate()" class="user-submit btn btn-primary text-uppercase " id="submitButton"
          type="submit">Send</button>
      </div>
    </div>
    </div>
  </section><!-- End Contact Section -->
  </main><!-- End #main -->
  <div id="preloader">
    <div class="loader">
      <div class="square"></div>
      <div class="path">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p class="text-load">Loading</p>
    </div>
  </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
  <script type="text/javascript" src="/static/js/chart.js"></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("user_3yOIBuLymX5GB0CBO9kpN");
    })();
  </script>
  <script>
  </script>
  <!--  for matrix -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.2/math.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/smtp.js"></script>
  <!-- for sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function validate() {
      let username = document.querySelector(".user-name");
      let useremail = document.querySelector(".user-email");
      let usermsg = document.querySelector(".user-msg");
      let submit = document.querySelector(".user-submit");

      submit.addEventListener("click", (e) => {
        e.preventDefault()
        if (username.value == "" || useremail.value == "" || usermsg.value == "") {
          inputempty();
        } else {
          sendemail(username.value, useremail.value, usermsg.value);
          sucess()
          setTimeout(() => {
            window.location.href = "#hero";
          }, 2000);
          setTimeout(() => {
            location.reload();
          }, 2000);
        }
      })
    }
    function sendemail(name, email, msg) {
      emailjs.send("service_94vid38", "template_dkqcavp", {
        from_name: name,
        to_name: email,
        message: msg,
      });
    }
    function sucess() {
      swal({
        title: "Sucess",
        text: "Sucessfully sent Message",
        icon: "success",
        button: "Ok",
      });
    }
    function error() {
      swal({
        title: "Sorry",
        text: "Something Went Wrong, Message could not be sent",
        icon: "error",
        button: "Ok",
      });
    }
    function inputempty() {
      swal({
        title: "Opps!!",
        text: "Inputs Field are required",
        icon: "error",
        button: "Ok",
      });
    }
  </script>
</body>

</html>
